<!--
@author Nicolas TESSIER aka Asthonishia
-->
<template>
  <div class="background virtual-gamepad">
    <!-- eslint-disable max-len -->
    <svg
      xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
       xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
       xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 633.87727 292.82214" version="1.1"
       id="svg48" sodipodi:docname="controls.svg" width="100%" height="100%"
       inkscape:version="0.92.3 (2405546, 2018-03-11)"
    >
      <metadata id="metadata54">
        <rdf:RDF>
          <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
            <dc:title/>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <defs id="defs52">
        <clipPath clipPathUnits="userSpaceOnUse" id="clipPath18">
          <path d="M 0,37.061 H 37.061 V 0 H 0 Z" id="path16-3" inkscape:connector-curvature="0"/>
        </clipPath>
        <clipPath clipPathUnits="userSpaceOnUse" id="clipPath18-2">
          <path d="M 0,37.061 H 37.061 V 0 H 0 Z" id="path16-2" inkscape:connector-curvature="0"/>
        </clipPath>
        <clipPath clipPathUnits="userSpaceOnUse" id="clipPath18-1">
          <path d="M 0,37.061 H 37.061 V 0 H 0 Z" id="path16-6" inkscape:connector-curvature="0"/>
        </clipPath>
        <clipPath clipPathUnits="userSpaceOnUse" id="clipPath18-92">
          <path d="M 0,37.061 H 37.061 V 0 H 0 Z" id="path16-4" inkscape:connector-curvature="0"/>
        </clipPath>
      </defs>
      <sodipodi:namedview
        pagecolor="#ffffff"
        bordercolor="#666666"
        borderopacity="1"
        objecttolerance="10"
        gridtolerance="10"
        guidetolerance="10"
        inkscape:pageopacity="0"
        inkscape:pageshadow="2"
        inkscape:window-width="1920"
        inkscape:window-height="1027"
        id="namedview50"
        showgrid="false"
        fit-margin-top="0"
        fit-margin-left="0"
        fit-margin-right="0"
        fit-margin-bottom="0"
        inkscape:zoom="1.5325073"
        inkscape:cx="421.53143"
        inkscape:cy="187.41663"
        inkscape:window-x="-8"
        inkscape:window-y="-8"
        inkscape:window-maximized="1"
        inkscape:current-layer="svg48"
      />
      <g id="g887" transform="matrix(0, -2, 2, 0, 0, 255)">
        <path id="path2"
          d="m 133.07,209.562 c 0,-0.792 -0.066,-1.707 -0.414,-2.488 -0.347,-0.781 -1.09,-1.437 -2.14,-1.437 v 0.515 c -0.203,-0.011 -0.504,0.016 -0.512,0.266 l 0.098,35.586 c -0.387,12.711 -4.082,23.754 -9.977,33.437 -0.207,0.411 0.223,0.586 0.391,0.582 a 23.5,23.5 0 0 0 1.652,-0.121 v 0.051 c 0.68,0 1.203,0.059 1.707,0 a 1.694,1.694 0 0 0 1.293,-0.863 c 0.004,-0.004 0.016,0.004 0.02,0 0,-0.004 -0.004,-0.012 0,-0.016 5.371,-9.554 7.882,-20.566 7.882,-32.269 z m 0,-111.054 c 0,0.793 -0.066,1.707 -0.414,2.488 -0.347,0.785 -1.09,1.438 -2.14,1.438 v -0.512 c -0.203,0.008 -0.504,-0.02 -0.512,-0.266 l 0.098,-35.59 c -0.387,-12.707 -4.082,-23.75 -9.977,-33.433 -0.207,-0.41 0.223,-0.59 0.391,-0.582 0.683,0.027 1.222,0.07 1.652,0.121 v -0.051 c 0.68,0 1.203,-0.059 1.707,0 0.5,0.055 1.008,0.34 1.293,0.859 0.004,0.004 0.016,-0.003 0.02,0 0,0.004 -0.004,0.012 0,0.016 5.371,9.559 7.882,20.566 7.882,32.274 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#bdbdbd"/>
        <path id="path4"
          d="m 130.582,64.816 v 84.438 h -1.18 v 9.625 h 1.18 v 84.293 c 0,35.805 -29,64.82 -64.801,64.82 -35.804,0 -64.82,-29.015 -64.82,-64.82 a 64.503,64.503 0 0 1 12.195,-37.836 v -0.016 l 1.035,-1.34 a 13.682,13.682 0 0 0 2.997,-8.574 v -82.828 c 0,-3.242 -1.118,-6.223 -2.997,-8.574 l -1.035,-1.34 v -0.012 C 5.481,92.008 0.961,78.949 0.961,64.816 0.961,29.016 29.973,0 65.777,0 c 35.801,0 64.801,29.016 64.801,64.816 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#cccccc"/>
        <path id="path6" d="M 0,0 H 133.92 V 307.92 H 0 Z" inkscape:connector-curvature="0" style="fill:none"/>
        <path id="path8"
          d="m 35.524,116.359 c 0.269,0.043 0.48,-0.07 0.628,-0.336 l 0.254,-0.449 c 0.375,-0.629 0.887,-0.926 1.532,-0.894 0.296,0.015 0.558,0.093 0.785,0.23 0.234,0.141 0.418,0.336 0.543,0.586 0.129,0.246 0.187,0.516 0.179,0.809 a 1.187,1.187 0 0 1 -0.453,0.953 c -0.293,0.238 -0.687,0.355 -1.183,0.351 v -0.929 a 0.984,0.984 0 0 0 0.492,-0.094 c 0.117,-0.07 0.183,-0.188 0.191,-0.348 a 0.612,0.612 0 0 0 -0.152,-0.414 0.592,0.592 0 0 0 -0.414,-0.215 c -0.242,-0.035 -0.438,0.102 -0.594,0.407 a 4.682,4.682 0 0 1 -0.394,0.664 c -0.348,0.437 -0.813,0.644 -1.403,0.617 a 1.758,1.758 0 0 1 -0.808,-0.227 1.407,1.407 0 0 1 -0.532,-0.55 1.543,1.543 0 0 1 -0.179,-0.801 c 0.008,-0.211 0.05,-0.41 0.125,-0.59 0.086,-0.188 0.211,-0.348 0.375,-0.481 0.324,-0.261 0.758,-0.386 1.297,-0.375 l -0.012,0.934 c -0.27,-0.008 -0.477,0.031 -0.617,0.121 -0.133,0.086 -0.203,0.234 -0.203,0.449 a 0.57,0.57 0 0 0 0.14,0.391 0.635,0.635 0 0 0 0.403,0.191 z m 0,0 m 2.871,19.539 v -1.152 l -4.305,-0.57 v -0.934 l 4.305,0.567 v -1.145 l 0.988,0.137 v 3.234 z m 0,0 m -2.496,-4.25 a 2.354,2.354 0 0 1 -0.993,-0.281 1.776,1.776 0 0 1 -0.668,-0.621 1.551,1.551 0 0 1 -0.222,-0.848 c 0.011,-0.418 0.191,-0.742 0.531,-0.976 0.348,-0.242 0.816,-0.371 1.402,-0.395 0.391,-0.015 0.821,0.016 1.285,0.098 a 3.99,3.99 0 0 1 1.204,0.391 c 0.347,0.187 0.605,0.402 0.777,0.648 0.168,0.25 0.25,0.524 0.242,0.816 -0.012,0.438 -0.187,0.782 -0.519,1.032 -0.34,0.25 -0.805,0.39 -1.395,0.418 v -0.938 c 0.328,0.004 0.559,-0.035 0.691,-0.129 0.141,-0.093 0.215,-0.238 0.223,-0.429 0.024,-0.496 -0.484,-0.797 -1.519,-0.907 -0.473,-0.047 -0.809,-0.07 -1.008,-0.07 -0.598,-0.012 -0.906,0.152 -0.926,0.496 a 0.622,0.622 0 0 0 0.223,0.527 c 0.156,0.133 0.371,0.219 0.648,0.258 z m 0,0 m 0.433,-4.117 v -1.461 l -1.266,-0.16 v 1.727 l -0.976,-0.129 v -2.664 l 5.293,0.687 v 2.672 l -0.988,-0.125 v -1.738 l -1.118,-0.145 v 1.465 z m 0,0 m -1.266,-4.996 v 1.617 l -0.976,-0.129 v -2.55 l 5.293,0.687 v 0.938 z m 0,0 m 1.266,-1.844 v -1.461 l -1.266,-0.16 v 1.727 l -0.976,-0.129 v -2.664 l 5.293,0.687 v 2.672 l -0.988,-0.125 V 119.5 l -1.118,-0.145 v 1.465 z m 0,0 m -0.808,30.579 c 0.269,0.042 0.48,-0.071 0.628,-0.336 l 0.254,-0.45 c 0.375,-0.629 0.887,-0.925 1.532,-0.894 0.296,0.015 0.558,0.094 0.785,0.23 0.234,0.141 0.418,0.336 0.543,0.586 0.129,0.246 0.187,0.512 0.179,0.805 a 1.181,1.181 0 0 1 -0.453,0.953 c -0.293,0.242 -0.687,0.359 -1.183,0.352 v -0.926 a 0.983,0.983 0 0 0 0.492,-0.098 c 0.117,-0.07 0.183,-0.183 0.191,-0.344 a 0.614,0.614 0 0 0 -0.152,-0.414 0.591,0.591 0 0 0 -0.414,-0.218 c -0.242,-0.032 -0.438,0.105 -0.594,0.41 a 4.93,4.93 0 0 1 -0.394,0.664 c -0.348,0.437 -0.813,0.64 -1.403,0.613 a 1.792,1.792 0 0 1 -0.808,-0.223 1.407,1.407 0 0 1 -0.532,-0.55 1.552,1.552 0 0 1 -0.179,-0.801 c 0.008,-0.215 0.05,-0.41 0.125,-0.594 0.086,-0.183 0.211,-0.344 0.375,-0.476 0.324,-0.262 0.758,-0.387 1.297,-0.379 l -0.012,0.937 c -0.27,-0.012 -0.477,0.028 -0.617,0.121 -0.133,0.086 -0.203,0.235 -0.203,0.446 0,0.156 0.046,0.285 0.14,0.394 a 0.656,0.656 0 0 0 0.403,0.192 z m 0,0 m 2.871,16.855 v -1.152 l -4.305,-0.567 v -0.937 l 4.305,0.57 v -1.144 l 0.988,0.136 v 3.231 z m 0,0 m -1.457,-6.258 v 0.543 c 0,0.149 0.046,0.281 0.14,0.395 a 0.817,0.817 0 0 0 0.403,0.238 c 0.164,0.047 0.328,0.062 0.488,0.039 0.269,-0.035 0.41,-0.168 0.426,-0.391 v -0.632 z M 35.961,161.738 34.09,161.5 v -0.938 l 5.293,0.688 -0.012,1.41 c 0,0.445 -0.137,0.793 -0.414,1.039 -0.281,0.239 -0.664,0.348 -1.148,0.321 -0.383,-0.016 -0.696,-0.098 -0.946,-0.25 a 1.474,1.474 0 0 1 -0.593,-0.606 l -2.118,0.535 H 34.09 v -1 l 1.871,-0.441 z m 0,0 m -0.883,-3.91 -0.988,-0.351 v -1.032 l 5.293,2.11 v 0.883 l -5.293,0.734 v -0.977 l 0.988,-0.093 z m 0.988,0.352 v 0.824 l 1.817,-0.176 z m 0,0 m 2.329,-1.676 v -1.149 l -4.305,-0.57 v -0.937 l 4.305,0.57 v -1.145 l 0.988,0.137 v 3.231 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#4c4c4c"/>
        <path id="path10"
          d="m 66.52,101.977 c -20.321,0 -36.793,-16.45 -36.793,-36.739 0,-20.289 16.472,-36.734 36.793,-36.734 20.324,0 36.796,16.445 36.796,36.734 0,20.289 -16.472,36.739 -36.796,36.739"
          inkscape:connector-curvature="0" style="fill:#999999"/>
        <path id="path12"
          d="m 66.519,101.977 c -20.32,0 -36.793,-16.45 -36.793,-36.739 0,-20.289 16.473,-36.734 36.793,-36.734 20.324,0 36.797,16.445 36.797,36.734 0,20.289 -16.473,36.739 -36.797,36.739"
          inkscape:connector-curvature="0" style="fill:none;stroke:#999999;stroke-width:0.80000001"/>
        <path id="path14"
          d="m 66.524,100.84 c -19.676,0 -35.625,-15.938 -35.625,-35.602 0,-19.66 15.949,-35.597 35.625,-35.597 19.671,0 35.621,15.937 35.621,35.597 0,19.664 -15.95,35.602 -35.621,35.602"
          inkscape:connector-curvature="0" style="fill:#cccccc"/>
        <path id="path16"
          d="m 66.449,301.684 c -32.265,0 -58.422,-26.157 -58.422,-58.422 0,-32.266 26.157,-58.426 58.422,-58.426 32.266,0 58.426,26.16 58.426,58.426 0,32.265 -26.16,58.422 -58.426,58.422"
          inkscape:connector-curvature="0" style="fill:#666666"/>
        <path id="path18"
          d="M 75.742,90.828 V 74.461 h 16.367 c 0.7,0 1.27,-0.574 1.27,-1.273 V 57.289 c 0,-0.699 -0.57,-1.269 -1.27,-1.269 H 75.742 V 39.652 c 0,-0.699 -0.574,-1.273 -1.273,-1.273 H 58.574 c -0.699,0 -1.273,0.574 -1.273,1.273 V 56.02 H 40.934 c -0.7,0 -1.27,0.57 -1.27,1.269 v 15.899 c 0,0.699 0.57,1.273 1.27,1.273 h 16.367 v 16.367 c 0,0.699 0.574,1.27 1.273,1.27 h 15.895 c 0.699,0 1.273,-0.571 1.273,-1.27"
          inkscape:connector-curvature="0" style="fill:#4c4c4c"/>
        <path id="path20"
          d="m 68.191,42.211 c -0.917,-1.617 -2.421,-1.617 -3.339,0 l -3.551,6.269 c -0.918,1.618 -0.492,2.942 0.949,2.942 h 8.543 c 1.441,0 1.867,-1.324 0.949,-2.942 l -3.551,-6.269 c -0.917,-1.617 -2.421,-1.617 -3.339,0 l -3.551,6.269 c -0.918,1.618 -0.492,2.942 0.949,2.942 h 8.543 c 1.441,0 1.867,-1.324 0.949,-2.942 z m 0,0 m 0,45.977 c -0.917,1.617 -2.421,1.617 -3.339,0 L 61.301,81.922 C 60.383,80.301 60.809,78.98 62.25,78.98 h 8.543 c 1.441,0 1.867,1.321 0.949,2.942 l -3.551,6.266 c -0.917,1.617 -2.421,1.617 -3.339,0 L 61.301,81.922 C 60.383,80.301 60.809,78.98 62.25,78.98 h 8.543 c 1.441,0 1.867,1.321 0.949,2.942 z m 0,0 M 89.449,66.906 c 1.617,-0.918 1.617,-2.418 0,-3.336 l -6.265,-3.554 c -1.618,-0.918 -2.942,-0.489 -2.942,0.953 v 8.539 c 0,1.441 1.324,1.867 2.942,0.953 l 6.265,-3.555 c 1.617,-0.918 1.617,-2.418 0,-3.336 l -6.265,-3.554 c -1.618,-0.918 -2.942,-0.489 -2.942,0.953 v 8.539 c 0,1.441 1.324,1.867 2.942,0.953 z m 0,0 M 43.473,66.867 c -1.617,-0.918 -1.617,-2.418 0,-3.336 l 6.269,-3.554 c 1.617,-0.915 2.942,-0.489 2.942,0.953 v 8.539 c 0,1.441 -1.325,1.871 -2.942,0.953 l -6.269,-3.555 c -1.617,-0.918 -1.617,-2.418 0,-3.336 l 6.269,-3.554 c 1.617,-0.915 2.942,-0.489 2.942,0.953 v 8.539 c 0,1.441 -1.325,1.871 -2.942,0.953 z m 0,0 M 58.68,134.918 48.363,121.762 c -3.582,-4.547 2.907,-10.227 6.778,-5.313 l 10.312,13.156 c 3.621,4.704 -3.105,10.083 -6.773,5.313 m 0,33.07 -10.317,-13.156 c -3.582,-4.547 2.907,-10.227 6.778,-5.312 l 10.312,13.156 c 3.621,4.703 -3.105,10.082 -6.773,5.312"
          inkscape:connector-curvature="0" style="fill:#666666"/>
        <path id="path22"
          d="m 108.684,263.316 0.023,-2.148 -3.226,2.711 -3.516,-2.891 0.016,2.02 2.265,1.906 -2.265,1.906 -0.016,2.02 3.516,-2.891 3.226,2.711 -0.023,-2.148 -1.942,-1.598 z m 0,0 m -23.84,26.454 -0.008,1.003 0.008,1.004 -6.649,3.035 -0.007,-1.632 1.668,-0.758 0.019,-3.289 -1.687,-0.766 0.007,-1.633 z m -3.633,2.035 2.273,-1.032 -2.238,-1.015 z m 0,0 M 52.406,194.934 v -1.817 l -3.738,3.008 h -3.07 v 1.586 h 3.086 l 3.722,2.996 v -1.816 L 49.93,196.91 Z m 0,0"
          inkscape:connector-curvature="0" style="fill:#d8d8d8"/>
        <path id="path24"
          d="m 29.145,220.121 v 4.43 h -0.004 c -0.18,2.765 -3.137,2.945 -3.27,0.191 -0.129,3.356 -3.453,3.129 -3.59,-0.191 v -0.016 l -0.004,-0.074 h 0.004 v -4.34 z m -5.598,4.406 c 0.176,1.059 1.375,1.125 1.59,0.024 v -2.664 h -1.59 z m 2.855,-0.023 c 0.43,1.137 1.368,0.656 1.477,0.047 v -2.664 h -1.477 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#cccccc"/>
        <path id="path26"
          d="m 77.945,213.906 c 0,-6.664 -5.418,-12.082 -12.082,-12.082 -6.664,0 -12.082,5.418 -12.082,12.082 0,6.664 5.418,12.082 12.082,12.082 6.664,0 12.082,-5.418 12.082,-12.082 z m -1.023,0 a 11.051,11.051 0 0 1 -11.059,11.059 c -6.113,0 -11.062,-4.945 -11.062,-11.059 0,-6.113 4.949,-11.058 11.062,-11.058 a 11.05,11.05 0 0 1 11.059,11.058 z m 0,0 m 23.875,29.336 c 0,-6.668 -5.414,-12.066 -12.082,-12.066 -6.664,0 -12.078,5.398 -12.078,12.066 0,6.664 5.414,12.082 12.078,12.082 6.668,0 12.082,-5.418 12.082,-12.082 z m -1.02,0 c 0,6.113 -4.949,11.059 -11.062,11.059 -6.109,0 -11.059,-4.946 -11.059,-11.059 0,-6.113 4.95,-11.047 11.059,-11.047 6.113,0 11.062,4.934 11.062,11.047 z m 0,0 m -44.144,0.969 c 0,-6.664 -5.418,-12.082 -12.082,-12.082 -6.668,0 -12.067,5.418 -12.067,12.082 0,6.664 5.399,12.066 12.067,12.066 6.664,0 12.082,-5.402 12.082,-12.066 z m -1.024,0 c 0,6.113 -4.945,11.043 -11.058,11.043 -6.113,0 -11.043,-4.93 -11.043,-11.043 0,-6.113 4.93,-11.059 11.043,-11.059 a 11.051,11.051 0 0 1 11.058,11.059 z m 0,0 m 23.875,29.336 c 0,-6.664 -5.418,-12.082 -12.082,-12.082 -6.664,0 -12.078,5.418 -12.078,12.082 0,6.664 5.414,12.082 12.078,12.082 6.664,0 12.082,-5.418 12.082,-12.082 z m -1.019,0 c 0,6.113 -4.949,11.058 -11.059,11.058 -6.113,0 -11.062,-4.945 -11.062,-11.058 0,-6.113 4.949,-11.059 11.062,-11.059 6.11,0 11.059,4.946 11.059,11.059 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#f4f4f4"/>
        <path id="path28"
          d="m 75.176,284.672 c -6.199,4.832 -15.133,3.73 -19.965,-2.473 L 32.359,252.867 c -4.832,-6.203 -3.714,-15.137 2.489,-19.965 6.203,-4.832 15.133,-3.73 19.965,2.473 l 22.839,29.352 a 14.135,14.135 0 0 1 2.985,7.753 14.198,14.198 0 0 1 -5.461,12.192 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#d8d8d8"/>
        <path id="path30" v-on:click="press('A')"
          d="m 78.477,273.547 c 0,6.672 -5.399,12.074 -12.075,12.074 -6.671,0 -12.07,-5.402 -12.07,-12.074 0,-6.676 5.399,-12.074 12.07,-12.074 a 12.065,12.065 0 0 1 12.075,12.074 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#ba2318"/>
        <path id="path32"
          d="m 97.422,254.473 c -6.203,4.828 -15.133,3.726 -19.965,-2.477 L 54.602,222.664 c -4.828,-6.203 -3.711,-15.137 2.492,-19.965 6.203,-4.832 15.133,-3.73 19.965,2.473 l 22.836,29.351 a 14.153,14.153 0 0 1 2.988,7.754 14.21,14.21 0 0 1 -5.461,12.196 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#d8d8d8"/>
        <path id="path34" v-on:click="press('X')"
          d="m 100.789,243.25 c 0,6.672 -5.398,12.074 -12.074,12.074 -6.672,0 -12.074,-5.402 -12.074,-12.074 0,-6.672 5.402,-12.074 12.074,-12.074 6.676,0 12.074,5.402 12.074,12.074 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#0a2a8d"/>
        <path id="path36" v-on:click="press('B')"
          d="m 55.633,244.203 c 0,6.672 -5.402,12.074 -12.074,12.074 -6.676,0 -12.075,-5.402 -12.075,-12.074 0,-6.672 5.399,-12.074 12.075,-12.074 6.672,0 12.074,5.402 12.074,12.074 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#fed01b"/>
        <path id="path38" v-on:click="press('Y')"
          d="m 77.938,213.906 c 0,6.672 -5.403,12.074 -12.075,12.074 -6.675,0 -12.074,-5.402 -12.074,-12.074 0,-6.672 5.399,-12.074 12.074,-12.074 6.672,0 12.075,5.402 12.075,12.074 z m 0,0"
          inkscape:connector-curvature="0" style="fill:#007544"/>
        <circle id="circle40" r="7.335" cy="65.239998" cx="66.522003" style="fill:#595959"/>
        <g id="g46" style="fill:#666666">
          <ellipse id="ellipse42" ry="4.6760001" rx="2.0910001" cy="89.208" cx="109.489"/>
          <path id="path44"
            d="m 106.027,102.254 c -1.155,0 -2.091,-2.093 -2.091,-4.676 0,-2.582 0.936,-4.676 2.091,-4.676 1.155,0 2.091,2.093 2.091,4.676 -10e-4,2.583 -0.937,4.676 -2.091,4.676 z m 1.372,0.563 c 2.342,-0.563 4.929,-2.604 3.804,-5.239 4.949,2.145 4.162,6.195 2.474,7.601 -1.314,1.095 -5.808,1.069 -6.278,-2.362 z m 3.785,-8.241 c 2.342,-0.563 4.929,-2.604 3.804,-5.239 4.949,2.145 4.162,6.195 2.475,7.601 -1.315,1.095 -5.808,1.069 -6.279,-2.362 z m 9.116,17.632 c 0,-0.694 -0.576,-1.369 -1.289,-1.492 h -0.039 l -0.013,-0.013 h -0.039 l -0.026,-0.013 h -0.026 l -0.026,-0.013 h -0.038 l -0.026,-0.013 h -0.038 l -0.038,-0.013 -0.038,-0.013 -0.076,-0.013 -0.089,-0.025 -0.089,-0.013 -0.089,-0.025 -0.102,-0.013 -0.102,-0.025 -0.115,-0.025 -0.102,-0.025 -0.217,-0.038 -0.115,-0.025 -0.102,-0.025 -0.102,-0.013 -0.102,-0.025 -0.102,-0.025 -0.102,-0.013 -0.089,-0.013 -0.077,-0.025 -0.089,-0.013 h -0.038 l -0.026,-0.013 h -0.064 l -0.038,-0.013 h -0.052 l -0.026,-0.013 h -0.026 c -0.312,-0.013 -0.738,0.03 -0.817,0.126 -0.687,0.123 -3.867,2.393 -4.352,2.327 -0.486,-0.061 -1.914,-0.329 -1.914,-0.329 -0.482,-0.082 -0.868,-0.408 -0.868,-0.885 0,-0.477 0.385,-0.803 0.868,-0.721 l 2.374,0.43 v -1.695 l -3.293,-0.569 c -0.669,-0.116 -1.2,0.333 -1.2,0.999 v 2.416 c 0,0.669 0.531,1.307 1.2,1.429 0,0 3.075,0.622 3.293,0.62 0.218,-0.003 0.242,-0.063 0.242,-0.063 0.25,0 3.614,-2.02 3.739,-2.226 0.053,-0.089 0.386,-0.162 0.587,-0.164 0.2,-0.004 1.544,0.266 1.544,0.266 0.482,0.082 0.868,0.534 0.868,1.012 0,0.477 -0.386,0.677 -0.868,0.595 l -2.131,-0.367 v 1.708 l 3.203,0.594 c 0.713,0.134 1.289,-0.318 1.289,-1.012 v -2.503 z m 0,4.654 -11.766,-2.024 c -0.669,-0.116 -1.2,0.333 -1.2,0.999 v 2.416 c 0,0.669 0.531,1.318 1.2,1.442 l 11.766,2.163 v -1.518 l -11.434,-2.062 a 0.382,0.382 0 0 1 -0.306,-0.354 v -1.202 c 0,-0.168 0.139,-0.28 0.306,-0.253 l 11.434,2.011 z m 0,5.818 -12.966,-2.441 v 1.619 l 5.87,1.113 v 2.062 c 0,0.67 0.535,1.307 1.2,1.429 l 4.607,0.885 c 0.715,0.133 1.289,-0.318 1.289,-1.012 z m 0,5.78 -12.966,-2.53 v 3.643 l 1.608,0.253 v -1.796 l 4.377,0.734 v 1.796 l 1.353,0.253 v -1.796 l 4.02,0.797 v 1.796 l 1.608,0.253 z m 0,4.351 -12.966,-2.428 v 1.619 l 5.87,1.1 v 1.151 c -0.142,0.151 -0.404,0.169 -0.536,0.19 -0.191,0.03 -0.434,0.062 -0.625,0.038 -0.189,-0.021 -4.709,-0.885 -4.709,-0.885 v 1.619 c 0,0 4.923,0.911 5.003,0.911 0.08,0.003 0.333,0 0.472,-0.089 0.09,-0.059 0.295,-0.161 0.37,-0.278 0.146,-0.226 0.242,-0.481 0.242,-0.481 v -0.114 c 0.184,0.463 0.488,1.337 0.983,1.429 l 4.607,0.885 c 0.715,0.134 1.289,-0.318 1.289,-1.012 z m 0,8.663 -12.966,-2.441 v 1.859 l 7.517,1.505 -7.517,0.594 v 1.619 l 12.966,2.441 v -1.859 l -6.777,-1.265 6.777,-0.835 z m 0,6.425 -12.966,-2.441 v 1.619 l 12.966,2.441 z m 0,2.467 -12.966,-2.441 v 1.872 l 7.517,1.505 -7.517,0.594 v 1.619 l 12.966,2.441 v -1.872 l -6.777,-1.252 6.777,-0.835 z m 0,6.273 -1.608,-0.303 v 1.012 l -11.358,-1.998 v 1.847 l 11.358,2.036 v 0.974 l 1.608,0.253 z m 0,4.452 -12.966,-2.529 v 3.642 l 1.608,0.253 v -1.796 l 4.377,0.746 v 1.796 l 1.353,0.253 v -1.796 l 4.02,0.784 v 1.796 l 1.608,0.253 z m 0,4.11 -12.966,-2.441 v 1.872 l 7.517,1.505 -7.517,0.594 v 1.619 l 12.966,2.441 v -1.872 l -6.777,-1.252 6.777,-0.835 z m 0,6.438 -12.966,-2.441 v 3.693 c 0,0.671 0.531,1.318 1.2,1.442 l 10.477,1.96 c 0.715,0.133 1.289,-0.318 1.289,-1.012 z m 0,6.944 c 0,-0.694 -0.576,-1.356 -1.289,-1.48 l -10.477,-1.809 c -0.669,-0.117 -1.2,0.321 -1.2,0.987 v 2.669 c 0,0.669 0.531,1.318 1.2,1.442 l 10.477,1.96 c 0.713,0.134 1.289,-0.319 1.289,-1.012 z m -1.494,-5.565 v 0.746 c 0,0.477 -0.386,0.803 -0.868,0.721 l -8.487,-1.594 c -0.482,-0.083 -0.88,-0.547 -0.88,-1.024 v -0.734 z m 0,6.513 v 0.051 c 0,0.477 -0.386,0.79 -0.868,0.708 l -8.487,-1.518 c -0.48,-0.082 -0.88,-0.522 -0.88,-0.999 0,-0.477 0.399,-0.677 0.88,-0.594 l 8.487,1.505 0.038,0.013 0.038,0.013 0.051,0.013 0.038,0.013 0.051,0.013 0.038,0.013 0.038,0.013 0.038,0.025 0.038,0.013 0.038,0.025 0.038,0.013 0.038,0.025 0.026,0.025 0.038,0.025 0.038,0.025 0.025,0.038 0.026,0.025 0.026,0.025 0.026,0.038 0.026,0.038 0.026,0.025 0.026,0.038 0.013,0.038 0.026,0.038 0.013,0.025 0.013,0.051 0.013,0.038 v 0.038 l 0.013,0.038 v 0.051 z m -0.051,-55.295 v 0.784 c 0,0.172 -0.398,0.537 -0.574,0.506 l -3.203,-0.67 c -0.166,-0.031 -0.549,-0.253 -0.549,-0.418 v -0.975 l 0.013,-0.013 v -0.052 h 0.013 v -0.026 l 0.013,-0.013 v -0.013 l 0.013,-0.013 0.013,-0.013 v -0.013 h 0.013 l 0.013,-0.013 0.013,-0.013 h 0.013 l 0.013,-0.013 0.013,-0.013 h 0.026 l 0.013,-0.013 h 0.026 l 0.013,-0.013 h 0.013 c 0.021,0 0.053,-0.003 0.076,0 l 3.918,0.759 a 0.45,0.45 0 0 1 0.098,0.248 z m 0,10.08 v 0.786 c 0,0.172 -0.398,0.54 -0.574,0.506 l -3.19,-0.67 c -0.167,-0.03 -0.562,-0.441 -0.562,-0.607 v -0.696 c 0,-0.143 0.096,-0.242 0.23,-0.253 0.021,0 0.051,-0.003 0.076,0 l 3.918,0.746 0.013,0.013 0.013,0.013 0.013,0.025 v 0.013 l 0.013,0.013 0.013,0.013 v 0.013 l 0.013,0.013 v 0.013 l 0.013,0.025 v 0.039 h 0.011 z m -12.544,-25.7 h -4.25 v 72.193 h 4.25 z m -0.447,53.069 v 0.622 c 0,0.15 -0.121,0.258 -0.281,0.228 l -0.715,-0.139 v -0.342 l 0.472,0.076 c 0.107,0.017 0.191,-0.045 0.191,-0.152 a 0.24,0.24 0 0 0 -0.191,-0.228 l -0.345,-0.063 c -0.021,-0.011 -0.117,0.021 -0.128,0.038 -0.027,0.047 -0.774,0.493 -0.829,0.493 -0.028,0.01 -0.041,0.016 -0.051,0.013 -0.094,-0.013 -0.727,-0.139 -0.727,-0.139 a 0.336,0.336 0 0 1 -0.268,-0.316 v -0.531 c 0,-0.147 0.122,-0.242 0.268,-0.215 l 0.727,0.126 v 0.367 l -0.523,-0.089 c -0.107,-0.017 -0.204,0.045 -0.204,0.152 0,0.102 0.097,0.211 0.204,0.228 l 0.421,0.076 c 0.176,-0.068 0.817,-0.515 0.97,-0.544 0.017,-0.02 0.109,-0.028 0.179,-0.025 0.076,0.004 0.549,0.101 0.549,0.101 v 0.013 h 0.039 l 0.026,0.013 h 0.013 l 0.013,0.013 h 0.013 l 0.013,0.013 h 0.013 l 0.013,0.013 0.013,0.013 h 0.013 v 0.013 l 0.013,0.013 0.013,0.013 0.013,0.013 h 0.013 v 0.013 l 0.013,0.013 0.013,0.013 v 0.013 l 0.013,0.013 v 0.013 l 0.013,0.013 v 0.038 z m 0,2.909 v 0.455 l -1.085,0.063 1.085,0.582 v 0.455 l -1.659,-0.936 -1.212,-0.228 v -0.405 l 1.302,0.202 z m 0,4.136 v 0.622 c 0,0.15 -0.121,0.255 -0.281,0.228 l -0.715,-0.139 V 169.1 l 0.472,0.076 c 0.107,0.017 0.191,-0.045 0.191,-0.152 a 0.238,0.238 0 0 0 -0.191,-0.228 l -0.345,-0.063 c -0.021,-0.013 -0.117,0.017 -0.128,0.038 -0.027,0.044 -0.774,0.493 -0.829,0.493 -0.028,0.013 -0.041,0.013 -0.051,0.013 l -0.727,-0.127 a 0.338,0.338 0 0 1 -0.268,-0.316 v -0.544 c 0,-0.147 0.122,-0.242 0.268,-0.215 l 0.727,0.126 v 0.367 l -0.523,-0.089 c -0.107,-0.017 -0.204,0.049 -0.204,0.152 0,0.106 0.097,0.207 0.204,0.228 l 0.421,0.076 c 0.176,-0.069 0.817,-0.515 0.97,-0.544 0.017,-0.02 0.109,-0.028 0.179,-0.025 0.076,0.004 0.549,0.101 0.549,0.101 l 0.013,0.013 h 0.026 l 0.026,0.013 h 0.013 l 0.013,0.013 h 0.013 l 0.013,0.013 h 0.013 l 0.013,0.013 0.013,0.013 h 0.013 v 0.013 l 0.013,0.013 0.013,0.013 0.013,0.013 0.013,0.013 0.013,0.013 0.013,0.013 v 0.013 l 0.013,0.013 v 0.013 l 0.013,0.013 v 0.038 z m 0,2.947 v 0.847 l -0.345,-0.063 v -0.215 l -2.527,-0.443 v -0.417 l 2.527,0.443 v -0.215 z m 0,3.314 v 0.759 l -0.345,-0.063 v -0.392 l -0.906,-0.177 v 0.405 l -0.294,-0.063 v -0.392 l -0.97,-0.164 v 0.392 l -0.357,-0.05 v -0.81 z m 0,3.124 v 0.468 l -1.659,0.076 1.646,0.721 0.013,0.455 -2.872,-0.481 V 179 l 1.519,0.228 -1.519,-0.632 v -0.253 l 1.557,-0.076 -1.557,-0.278 v -0.417 z m -0.102,-67.931 v 0.746 l -0.357,-0.051 v -0.405 l -0.893,-0.164 v 0.392 l -0.306,-0.05 v -0.405 l -0.97,-0.152 v 0.392 l -0.357,-0.063 v -0.81 z m 0,3.491 v 0.354 l -1.506,0.19 1.506,0.278 v 0.417 l -2.884,-0.544 v -0.354 l 1.672,-0.139 -1.672,-0.329 v -0.417 z m 0,3.794 v 0.835 l -0.357,-0.051 v -0.215 l -2.527,-0.455 v -0.405 l 2.527,0.443 v -0.228 z m 0,3.681 v 0.759 l -0.357,-0.063 v -0.392 l -0.893,-0.177 v 0.392 l -0.306,-0.051 v -0.392 l -0.97,-0.164 v 0.392 l -0.357,-0.051 v -0.81 z m 0,3.566 v 0.81 c 0,0.15 -0.134,0.245 -0.294,0.215 l -1.021,-0.19 c -0.111,-0.021 -0.201,-0.213 -0.243,-0.316 v 0.051 h -0.013 v 0.052 l -0.013,0.013 v 0.039 h -0.013 v 0.026 h -0.013 v 0.013 a 0.471,0.471 0 0 1 -0.14,0.025 c -0.017,0 -1.136,-0.202 -1.136,-0.202 v -0.367 c 0,0 1.005,0.196 1.046,0.202 a 0.537,0.537 0 0 0 0.14,-0.013 c 0.031,-0.003 0.083,-0.004 0.115,-0.038 v -0.253 l -1.302,-0.24 v -0.367 z m 0,3.617 v 0.847 l -0.357,-0.05 v -0.215 l -2.527,-0.455 v -0.405 l 2.527,0.443 v -0.228 z m 0,4.212 v 0.481 l -2.884,-0.152 v -0.481 l 0.664,0.063 v -0.291 l -0.664,-0.24 v -0.43 z m 0,3.364 v 0.367 l -2.884,-0.544 v -0.354 z m 0,3.264 v 0.354 l -1.506,0.19 1.506,0.278 v 0.405 l -2.884,-0.531 v -0.367 l 1.672,-0.126 -1.672,-0.329 v -0.417 z m 0,4.186 v 0.468 l -1.672,0.076 1.659,0.721 v 0.455 l -2.871,-0.481 v -0.354 l 1.519,0.228 -1.519,-0.632 v -0.253 l 1.557,-0.076 -1.557,-0.278 v -0.405 z m 0,4.591 v 0.746 l -0.357,-0.051 v -0.405 l -0.893,-0.164 v 0.392 l -0.306,-0.051 v -0.405 l -0.97,-0.164 v 0.405 l -0.357,-0.063 v -0.797 z m 0,3.668 v 0.354 l -1.506,0.19 1.506,0.278 v 0.405 l -2.884,-0.531 v -0.354 l 1.672,-0.139 -1.672,-0.329 v -0.417 z m 0,3.756 v 0.847 l -0.357,-0.063 v -0.215 l -2.527,-0.443 v -0.405 l 2.527,0.443 v -0.228 z m -0.345,-30.316 c 0,-0.02 -0.012,-0.036 -0.025,-0.051 l -0.868,-0.164 h -0.006 c -0.035,0 -0.058,0.019 -0.058,0.051 v 0.152 c 0,0.038 0.077,0.133 0.115,0.139 l 0.715,0.139 c 0.041,0.006 0.128,-0.063 0.128,-0.101 v -0.165 z m -0.867,7.487 -0.727,-0.266 v 0.202 z"
            inkscape:connector-curvature="0"/>
        </g>
      </g>
    </svg>
    <!-- eslint-enable max-len -->
  </div>
</template>

<script lang="ts" setup>
function press(button: string) {
  // eslint-disable-next-line no-console
  console.log(button);
}
</script>

<style lang="sass">
.virtual-gamepad
  height: 100vh
  display: flex
  align-items: center
  padding: 1em
  justify-content: center

  &:before
    content: "\F0EB7"

  svg
    z-index: 1
</style>
